################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Offensive360.VSExt/bin
/Offensive360.VSExt/obj
