## Visual Studio / .NET build artifacts
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Visual Studio cache/options directory
.vs/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
packages/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebugPublic/
[Rr]eleases/
*.[Cc]ache
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## VSIX
*.vsix

## MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

## Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## JetBrains Rider
.idea/

## Visual Studio code
.vscode/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## macOS
.DS_Store
